* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-image: url(/img/backGroundImg.jpg) ;
    background-size: cover;
    filter: blur(1px); */
}